In [541]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
df2 = pd.read_csv(r'C:\Users\nCalo\Documents\Automifai\Research\Coding_Lessons\Git\Queens_price_predictor\data_pandas\rollingsales_queens.csv')
df = pd.read_csv('https://raw.githubusercontent.com/Ncalo19/Queens_price_predictor/master/data_pandas/rollingsales_queens.csv')

In [542]:
df.columns.values

array(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER',
       'ZIP CODE', 'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       ' SALE PRICE ', 'SALE DATE'], dtype=object)

In [543]:
df = df.drop(columns=['BOROUGH', 'APARTMENT NUMBER', 'BLOCK', 'LOT', 'BUILDING CLASS AT PRESENT', 'EASE-MENT', 'BOROUGH', 'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'BUILDING CLASS AT PRESENT', 'ADDRESS', 'NEIGHBORHOOD', 'SALE DATE', 'LAND SQUARE FEET', 'TOTAL UNITS'])
df.head(10)

,BUILDING CLASS CATEGORY,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE
0,01 ONE FAMILY DWELLINGS,11370.0,1.0,0.0,1224.0,1945.0,1,A5,775000
1,01 ONE FAMILY DWELLINGS,11370.0,1.0,0.0,1224.0,1945.0,1,A5,0
2,01 ONE FAMILY DWELLINGS,11370.0,1.0,0.0,1224.0,1945.0,1,A5,0
3,01 ONE FAMILY DWELLINGS,11370.0,1.0,0.0,1224.0,1950.0,1,A5,0
4,01 ONE FAMILY DWELLINGS,11370.0,1.0,0.0,1224.0,1950.0,1,A5,670000
5,01 ONE FAMILY DWELLINGS,11370.0,1.0,0.0,1224.0,1950.0,1,A5,985000
6,02 TWO FAMILY DWELLINGS,11370.0,2.0,0.0,2400.0,1945.0,1,B1,0
7,02 TWO FAMILY DWELLINGS,11370.0,2.0,0.0,2400.0,1945.0,1,B1,990000
8,02 TWO FAMILY DWELLINGS,11370.0,2.0,0.0,1224.0,1950.0,1,B3,735000
9,03 THREE FAMILY DWELLINGS,11370.0,3.0,0.0,2835.0,1945.0,1,C0,0

In [544]:
x = df['ZIP CODE']
x = x.unique()
x.shape

(66,)

In [545]:
df2 = df[['BUILDING CLASS CATEGORY', ' SALE PRICE ']]
df3 = df[['BUILDING CLASS AT TIME OF SALE', ' SALE PRICE ']]

In [546]:
df = df.rename(columns={' SALE PRICE ': 'SALE PRICE'})

In [547]:
df.dropna

<bound method DataFrame.dropna of          BUILDING CLASS CATEGORY  ZIP CODE  RESIDENTIAL UNITS  \
0        01 ONE FAMILY DWELLINGS   11370.0                1.0
1        01 ONE FAMILY DWELLINGS   11370.0                1.0
2        01 ONE FAMILY DWELLINGS   11370.0                1.0
3        01 ONE FAMILY DWELLINGS   11370.0                1.0
4        01 ONE FAMILY DWELLINGS   11370.0                1.0
...                          ...       ...                ...
25796  43 CONDO OFFICE BUILDINGS   11377.0                0.0
25797           44 CONDO PARKING   11377.0                0.0
25798           44 CONDO PARKING   11377.0                0.0
25799           44 CONDO PARKING   11377.0                0.0
25800           44 CONDO PARKING   11377.0                0.0

       COMMERCIAL UNITS  GROSS SQUARE FEET  YEAR BUILT  \
0                   0.0             1224.0      1945.0
1                   0.0             1224.0      1945.0
2                   0.0             1224.0      1945.0
3                   0.0             1224.0      1950.0
4                   0.0             1224.0      1950.0
...                 ...                ...         ...
25796               1.0                0.0      2007.0
25797               1.0                0.0      2008.0
25798               1.0                0.0      2008.0
25799               1.0                0.0      2007.0
25800               1.0                0.0      2008.0

       TAX CLASS AT TIME OF SALE BUILDING CLASS AT TIME OF SALE  SALE PRICE
0                              1                             A5      775000
1                              1                             A5           0
2                              1                             A5           0
3                              1                             A5           0
4                              1                             A5      670000
...                          ...                            ...         ...
25796                          4                             RB           0
25797                          4                             RP           0
25798                          4                             RG       35000
25799                          4                             RG      665000
25800                          4                             RG       28000

[25801 rows x 9 columns]>

In [548]:
df['SALE PRICE']= pd.to_numeric(df['SALE PRICE'], errors = 'coerce')
df['GROSS SQUARE FEET']= pd.to_numeric(df['GROSS SQUARE FEET'], errors = 'coerce')

In [549]:
df.head(10)

,BUILDING CLASS CATEGORY,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE
0,01 ONE FAMILY DWELLINGS,11370.0,1.0,0.0,1224.0,1945.0,1,A5,775000
1,01 ONE FAMILY DWELLINGS,11370.0,1.0,0.0,1224.0,1945.0,1,A5,0
2,01 ONE FAMILY DWELLINGS,11370.0,1.0,0.0,1224.0,1945.0,1,A5,0
3,01 ONE FAMILY DWELLINGS,11370.0,1.0,0.0,1224.0,1950.0,1,A5,0
4,01 ONE FAMILY DWELLINGS,11370.0,1.0,0.0,1224.0,1950.0,1,A5,670000
5,01 ONE FAMILY DWELLINGS,11370.0,1.0,0.0,1224.0,1950.0,1,A5,985000
6,02 TWO FAMILY DWELLINGS,11370.0,2.0,0.0,2400.0,1945.0,1,B1,0
7,02 TWO FAMILY DWELLINGS,11370.0,2.0,0.0,2400.0,1945.0,1,B1,990000
8,02 TWO FAMILY DWELLINGS,11370.0,2.0,0.0,1224.0,1950.0,1,B3,735000
9,03 THREE FAMILY DWELLINGS,11370.0,3.0,0.0,2835.0,1945.0,1,C0,0

In [550]:
x = df[df['SALE PRICE'] > 8000000].index
df = df.drop(x, inplace = False)
x = df[df['SALE PRICE'] < 25000].index
df = df.drop(x, inplace = False)

In [551]:
df.head(10)

,BUILDING CLASS CATEGORY,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE
0,01 ONE FAMILY DWELLINGS,11370.0,1.0,0.0,1224.0,1945.0,1,A5,775000
4,01 ONE FAMILY DWELLINGS,11370.0,1.0,0.0,1224.0,1950.0,1,A5,670000
5,01 ONE FAMILY DWELLINGS,11370.0,1.0,0.0,1224.0,1950.0,1,A5,985000
7,02 TWO FAMILY DWELLINGS,11370.0,2.0,0.0,2400.0,1945.0,1,B1,990000
8,02 TWO FAMILY DWELLINGS,11370.0,2.0,0.0,1224.0,1950.0,1,B3,735000
12,01 ONE FAMILY DWELLINGS,11691.0,1.0,0.0,563.0,1920.0,1,A6,250000
13,01 ONE FAMILY DWELLINGS,11691.0,1.0,0.0,703.0,1920.0,1,A1,234500
15,01 ONE FAMILY DWELLINGS,11691.0,1.0,0.0,1044.0,1920.0,1,A6,161750
16,01 ONE FAMILY DWELLINGS,11691.0,1.0,0.0,1224.0,1920.0,1,A6,208750
17,01 ONE FAMILY DWELLINGS,11691.0,1.0,0.0,926.0,1920.0,1,A9,296270

In [552]:
df = df.drop_duplicates(df.columns)