In [51]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime
df = pd.read_csv('https://raw.githubusercontent.com/Ncalo19/Queens_price_predictor/master/data_pandas/rollingsales_queens.csv')

In [52]:
df.columns.values

array(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER',
       'ZIP CODE', 'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       ' SALE PRICE ', 'SALE DATE'], dtype=object)

In [53]:
df = df.drop(columns=['BOROUGH', 'APARTMENT NUMBER', 'BLOCK', 'LOT', 'BUILDING CLASS AT PRESENT', 'EASE-MENT', 'BOROUGH', 'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'BUILDING CLASS AT PRESENT', 'ADDRESS', 'NEIGHBORHOOD', 'SALE DATE', 'LAND SQUARE FEET', 'TOTAL UNITS'])
df.head(10)

,BUILDING CLASS CATEGORY,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE
0,01 ONE FAMILY DWELLINGS,11370.0,1.0,0.0,1224.0,1945.0,1,A5,775000
1,01 ONE FAMILY DWELLINGS,11370.0,1.0,0.0,1224.0,1945.0,1,A5,0
2,01 ONE FAMILY DWELLINGS,11370.0,1.0,0.0,1224.0,1945.0,1,A5,0
3,01 ONE FAMILY DWELLINGS,11370.0,1.0,0.0,1224.0,1950.0,1,A5,0
4,01 ONE FAMILY DWELLINGS,11370.0,1.0,0.0,1224.0,1950.0,1,A5,670000
5,01 ONE FAMILY DWELLINGS,11370.0,1.0,0.0,1224.0,1950.0,1,A5,985000
6,02 TWO FAMILY DWELLINGS,11370.0,2.0,0.0,2400.0,1945.0,1,B1,0
7,02 TWO FAMILY DWELLINGS,11370.0,2.0,0.0,2400.0,1945.0,1,B1,990000
8,02 TWO FAMILY DWELLINGS,11370.0,2.0,0.0,1224.0,1950.0,1,B3,735000
9,03 THREE FAMILY DWELLINGS,11370.0,3.0,0.0,2835.0,1945.0,1,C0,0

In [54]:
x = df['ZIP CODE']
x = x.unique()
x.shape

(66,)

In [55]:
df = df.rename(columns={' SALE PRICE ': 'SALE PRICE'})

In [56]:
df.dropna

<bound method DataFrame.dropna of          BUILDING CLASS CATEGORY  ZIP CODE  RESIDENTIAL UNITS  \
0        01 ONE FAMILY DWELLINGS   11370.0                1.0
1        01 ONE FAMILY DWELLINGS   11370.0                1.0
2        01 ONE FAMILY DWELLINGS   11370.0                1.0
3        01 ONE FAMILY DWELLINGS   11370.0                1.0
4        01 ONE FAMILY DWELLINGS   11370.0                1.0
...                          ...       ...                ...
25796  43 CONDO OFFICE BUILDINGS   11377.0                0.0
25797           44 CONDO PARKING   11377.0                0.0
25798           44 CONDO PARKING   11377.0                0.0
25799           44 CONDO PARKING   11377.0                0.0
25800           44 CONDO PARKING   11377.0                0.0

       COMMERCIAL UNITS  GROSS SQUARE FEET  YEAR BUILT  \
0                   0.0             1224.0      1945.0
1                   0.0             1224.0      1945.0
2                   0.0             1224.0      1945.0
3                   0.0             1224.0      1950.0
4                   0.0             1224.0      1950.0
...                 ...                ...         ...
25796               1.0                0.0      2007.0
25797               1.0                0.0      2008.0
25798               1.0                0.0      2008.0
25799               1.0                0.0      2007.0
25800               1.0                0.0      2008.0

       TAX CLASS AT TIME OF SALE BUILDING CLASS AT TIME OF SALE  SALE PRICE
0                              1                             A5      775000
1                              1                             A5           0
2                              1                             A5           0
3                              1                             A5           0
4                              1                             A5      670000
...                          ...                            ...         ...
25796                          4                             RB           0
25797                          4                             RP           0
25798                          4                             RG       35000
25799                          4                             RG      665000
25800                          4                             RG       28000

[25801 rows x 9 columns]>

In [57]:
df['SALE PRICE']= pd.to_numeric(df['SALE PRICE'], errors = 'coerce')
df['GROSS SQUARE FEET']= pd.to_numeric(df['GROSS SQUARE FEET'], errors = 'coerce')
df['RESIDENTIAL UNITS']= pd.to_numeric(df['RESIDENTIAL UNITS'], errors = 'coerce')
df['COMMERCIAL UNITS']= pd.to_numeric(df['COMMERCIAL UNITS'], errors = 'coerce')
df['YEAR BUILT']= pd.to_numeric(df['YEAR BUILT'], errors = 'coerce')

In [58]:
df.head(10)

,BUILDING CLASS CATEGORY,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE
0,01 ONE FAMILY DWELLINGS,11370.0,1.0,0.0,1224.0,1945.0,1,A5,775000
1,01 ONE FAMILY DWELLINGS,11370.0,1.0,0.0,1224.0,1945.0,1,A5,0
2,01 ONE FAMILY DWELLINGS,11370.0,1.0,0.0,1224.0,1945.0,1,A5,0
3,01 ONE FAMILY DWELLINGS,11370.0,1.0,0.0,1224.0,1950.0,1,A5,0
4,01 ONE FAMILY DWELLINGS,11370.0,1.0,0.0,1224.0,1950.0,1,A5,670000
5,01 ONE FAMILY DWELLINGS,11370.0,1.0,0.0,1224.0,1950.0,1,A5,985000
6,02 TWO FAMILY DWELLINGS,11370.0,2.0,0.0,2400.0,1945.0,1,B1,0
7,02 TWO FAMILY DWELLINGS,11370.0,2.0,0.0,2400.0,1945.0,1,B1,990000
8,02 TWO FAMILY DWELLINGS,11370.0,2.0,0.0,1224.0,1950.0,1,B3,735000
9,03 THREE FAMILY DWELLINGS,11370.0,3.0,0.0,2835.0,1945.0,1,C0,0

In [59]:
x = df[df['SALE PRICE'] > 8000000].index
df = df.drop(x, inplace = False)
x = df[df['SALE PRICE'] < 25000].index
df = df.drop(x, inplace = False)

In [60]:
df.head(10)

,BUILDING CLASS CATEGORY,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE
0,01 ONE FAMILY DWELLINGS,11370.0,1.0,0.0,1224.0,1945.0,1,A5,775000
4,01 ONE FAMILY DWELLINGS,11370.0,1.0,0.0,1224.0,1950.0,1,A5,670000
5,01 ONE FAMILY DWELLINGS,11370.0,1.0,0.0,1224.0,1950.0,1,A5,985000
7,02 TWO FAMILY DWELLINGS,11370.0,2.0,0.0,2400.0,1945.0,1,B1,990000
8,02 TWO FAMILY DWELLINGS,11370.0,2.0,0.0,1224.0,1950.0,1,B3,735000
12,01 ONE FAMILY DWELLINGS,11691.0,1.0,0.0,563.0,1920.0,1,A6,250000
13,01 ONE FAMILY DWELLINGS,11691.0,1.0,0.0,703.0,1920.0,1,A1,234500
15,01 ONE FAMILY DWELLINGS,11691.0,1.0,0.0,1044.0,1920.0,1,A6,161750
16,01 ONE FAMILY DWELLINGS,11691.0,1.0,0.0,1224.0,1920.0,1,A6,208750
17,01 ONE FAMILY DWELLINGS,11691.0,1.0,0.0,926.0,1920.0,1,A9,296270

In [61]:
df = df.drop_duplicates(df.columns)

In [62]:
df = df.drop(columns=['BUILDING CLASS AT TIME OF SALE', 'TAX CLASS AT TIME OF SALE'])

In [63]:
df = df[df["GROSS SQUARE FEET"] < df["GROSS SQUARE FEET"].quantile(0.95)]
df = df[df["RESIDENTIAL UNITS"] < df["RESIDENTIAL UNITS"].quantile(0.95)]
df = df[df["COMMERCIAL UNITS"] < df["COMMERCIAL UNITS"].quantile(0.95)]

In [64]:
df = pd.get_dummies(df, columns=['BUILDING CLASS CATEGORY', 'ZIP CODE'])

In [65]:
df['YEAR BUILT'] = (datetime.datetime.now().year - df['YEAR BUILT'])
df = df.rename(columns = {'YEAR BUILT' : 'AGE OF BUILDING'})

In [66]:
df_SALEPRICE = df.pop('SALE PRICE') #move sale price to the last column
df['SALE PRICE']=df_SALEPRICE

In [67]:
df.head(10)

,RESIDENTIAL UNITS,COMMERCIAL UNITS,GROSS SQUARE FEET,AGE OF BUILDING,BUILDING CLASS CATEGORY_01 ONE FAMILY DWELLINGS,BUILDING CLASS CATEGORY_02 TWO FAMILY DWELLINGS,BUILDING CLASS CATEGORY_04 TAX CLASS 1 CONDOS,BUILDING CLASS CATEGORY_05 TAX CLASS 1 VACANT LAND,BUILDING CLASS CATEGORY_06 TAX CLASS 1 - OTHER,BUILDING CLASS CATEGORY_12 CONDOS - WALKUP APARTMENTS,...,ZIP CODE_11432.0,ZIP CODE_11433.0,ZIP CODE_11434.0,ZIP CODE_11435.0,ZIP CODE_11436.0,ZIP CODE_11691.0,ZIP CODE_11692.0,ZIP CODE_11693.0,ZIP CODE_11694.0,SALE PRICE
0,1.0,0.0,1224.0,75.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,775000
4,1.0,0.0,1224.0,70.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,670000
5,1.0,0.0,1224.0,70.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,985000
7,2.0,0.0,2400.0,75.0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,990000
8,2.0,0.0,1224.0,70.0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,735000
12,1.0,0.0,563.0,100.0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,250000
13,1.0,0.0,703.0,100.0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,234500
15,1.0,0.0,1044.0,100.0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,161750
16,1.0,0.0,1224.0,100.0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,208750
17,1.0,0.0,926.0,100.0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,296270

In [68]:
bins = [0,3,10,20,30,50,75,100,150,1000]
labels = [1,2,3,4,5,6,7,8,9]
df['AGE OF BUILDING'] = pd.cut(df['AGE OF BUILDING'], bins=bins, labels=labels, right=True)
df = pd.get_dummies(df, columns=['AGE OF BUILDING'])

In [69]:
df.head(10)

,RESIDENTIAL UNITS,COMMERCIAL UNITS,GROSS SQUARE FEET,BUILDING CLASS CATEGORY_01 ONE FAMILY DWELLINGS,BUILDING CLASS CATEGORY_02 TWO FAMILY DWELLINGS,BUILDING CLASS CATEGORY_04 TAX CLASS 1 CONDOS,BUILDING CLASS CATEGORY_05 TAX CLASS 1 VACANT LAND,BUILDING CLASS CATEGORY_06 TAX CLASS 1 - OTHER,BUILDING CLASS CATEGORY_12 CONDOS - WALKUP APARTMENTS,BUILDING CLASS CATEGORY_13 CONDOS - ELEVATOR APARTMENTS,...,SALE PRICE,AGE OF BUILDING_1,AGE OF BUILDING_2,AGE OF BUILDING_3,AGE OF BUILDING_4,AGE OF BUILDING_5,AGE OF BUILDING_6,AGE OF BUILDING_7,AGE OF BUILDING_8,AGE OF BUILDING_9
0,1.0,0.0,1224.0,1,0,0,0,0,0,0,...,775000,0,0,0,0,0,1,0,0,0
4,1.0,0.0,1224.0,1,0,0,0,0,0,0,...,670000,0,0,0,0,0,1,0,0,0
5,1.0,0.0,1224.0,1,0,0,0,0,0,0,...,985000,0,0,0,0,0,1,0,0,0
7,2.0,0.0,2400.0,0,1,0,0,0,0,0,...,990000,0,0,0,0,0,1,0,0,0
8,2.0,0.0,1224.0,0,1,0,0,0,0,0,...,735000,0,0,0,0,0,1,0,0,0
12,1.0,0.0,563.0,1,0,0,0,0,0,0,...,250000,0,0,0,0,0,0,1,0,0
13,1.0,0.0,703.0,1,0,0,0,0,0,0,...,234500,0,0,0,0,0,0,1,0,0
15,1.0,0.0,1044.0,1,0,0,0,0,0,0,...,161750,0,0,0,0,0,0,1,0,0
16,1.0,0.0,1224.0,1,0,0,0,0,0,0,...,208750,0,0,0,0,0,0,1,0,0
17,1.0,0.0,926.0,1,0,0,0,0,0,0,...,296270,0,0,0,0,0,0,1,0,0

In [70]:
df.dtypes

RESIDENTIAL UNITS                                  float64
COMMERCIAL UNITS                                   float64
GROSS SQUARE FEET                                  float64
BUILDING CLASS CATEGORY_01 ONE FAMILY DWELLINGS      uint8
BUILDING CLASS CATEGORY_02 TWO FAMILY DWELLINGS      uint8
                                                    ...
AGE OF BUILDING_5                                    uint8
AGE OF BUILDING_6                                    uint8
AGE OF BUILDING_7                                    uint8
AGE OF BUILDING_8                                    uint8
AGE OF BUILDING_9                                    uint8
Length: 89, dtype: object

In [71]:
df.columns.values

array(['RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'GROSS SQUARE FEET',
       'BUILDING CLASS CATEGORY_01 ONE FAMILY DWELLINGS',
       'BUILDING CLASS CATEGORY_02 TWO FAMILY DWELLINGS',
       'BUILDING CLASS CATEGORY_04 TAX CLASS 1 CONDOS',
       'BUILDING CLASS CATEGORY_05 TAX CLASS 1 VACANT LAND',
       'BUILDING CLASS CATEGORY_06 TAX CLASS 1 - OTHER',
       'BUILDING CLASS CATEGORY_12 CONDOS - WALKUP APARTMENTS',
       'BUILDING CLASS CATEGORY_13 CONDOS - ELEVATOR APARTMENTS',
       'BUILDING CLASS CATEGORY_15 CONDOS - 2-10 UNIT RESIDENTIAL',
       'BUILDING CLASS CATEGORY_16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT',
       'BUILDING CLASS CATEGORY_29 COMMERCIAL GARAGES',
       'BUILDING CLASS CATEGORY_30 WAREHOUSES',
       'BUILDING CLASS CATEGORY_31 COMMERCIAL VACANT LAND',
       'BUILDING CLASS CATEGORY_36 OUTDOOR RECREATIONAL FACILITIES',
       'BUILDING CLASS CATEGORY_41 TAX CLASS 4 - OTHER',
       'ZIP CODE_10128.0', 'ZIP CODE_11001.0', 'ZIP CODE_11004.0',
       'ZIP CODE_11040.0', 'ZIP CODE_11101.0', 'ZIP CODE_11102.0',
       'ZIP CODE_11103.0', 'ZIP CODE_11104.0', 'ZIP CODE_11105.0',
       'ZIP CODE_11106.0', 'ZIP CODE_11109.0', 'ZIP CODE_11351.0',
       'ZIP CODE_11354.0', 'ZIP CODE_11355.0', 'ZIP CODE_11356.0',
       'ZIP CODE_11357.0', 'ZIP CODE_11358.0', 'ZIP CODE_11360.0',
       'ZIP CODE_11361.0', 'ZIP CODE_11362.0', 'ZIP CODE_11363.0',
       'ZIP CODE_11364.0', 'ZIP CODE_11365.0', 'ZIP CODE_11366.0',
       'ZIP CODE_11367.0', 'ZIP CODE_11368.0', 'ZIP CODE_11369.0',
       'ZIP CODE_11370.0', 'ZIP CODE_11372.0', 'ZIP CODE_11373.0',
       'ZIP CODE_11374.0', 'ZIP CODE_11375.0', 'ZIP CODE_11377.0',
       'ZIP CODE_11378.0', 'ZIP CODE_11379.0', 'ZIP CODE_11385.0',
       'ZIP CODE_11411.0', 'ZIP CODE_11412.0', 'ZIP CODE_11413.0',
       'ZIP CODE_11414.0', 'ZIP CODE_11415.0', 'ZIP CODE_11416.0',
       'ZIP CODE_11417.0', 'ZIP CODE_11418.0', 'ZIP CODE_11419.0',
       'ZIP CODE_11420.0', 'ZIP CODE_11421.0', 'ZIP CODE_11422.0',
       'ZIP CODE_11423.0', 'ZIP CODE_11426.0', 'ZIP CODE_11427.0',
       'ZIP CODE_11428.0', 'ZIP CODE_11429.0', 'ZIP CODE_11432.0',
       'ZIP CODE_11433.0', 'ZIP CODE_11434.0', 'ZIP CODE_11435.0',
       'ZIP CODE_11436.0', 'ZIP CODE_11691.0', 'ZIP CODE_11692.0',
       'ZIP CODE_11693.0', 'ZIP CODE_11694.0', 'SALE PRICE',
       'AGE OF BUILDING_1', 'AGE OF BUILDING_2', 'AGE OF BUILDING_3',
       'AGE OF BUILDING_4', 'AGE OF BUILDING_5', 'AGE OF BUILDING_6',
       'AGE OF BUILDING_7', 'AGE OF BUILDING_8', 'AGE OF BUILDING_9'],
      dtype=object)

In [72]:
df.columns = [col.replace('BUILDING CLASS CATEGORY_', '') for col in df.columns]
df.columns = [col.replace('ZIP CODE_', '') for col in df.columns]
df.columns = [col.replace('.0', '') for col in df.columns]

In [73]:
df.columns.values

array(['RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'GROSS SQUARE FEET',
       '01 ONE FAMILY DWELLINGS', '02 TWO FAMILY DWELLINGS',
       '04 TAX CLASS 1 CONDOS', '05 TAX CLASS 1 VACANT LAND',
       '06 TAX CLASS 1 - OTHER', '12 CONDOS - WALKUP APARTMENTS',
       '13 CONDOS - ELEVATOR APARTMENTS',
       '15 CONDOS - 2-10 UNIT RESIDENTIAL',
       '16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT',
       '29 COMMERCIAL GARAGES', '30 WAREHOUSES',
       '31 COMMERCIAL VACANT LAND', '36 OUTDOOR RECREATIONAL FACILITIES',
       '41 TAX CLASS 4 - OTHER', '10128', '11001', '11004', '11040',
       '11101', '11102', '11103', '11104', '11105', '11106', '11109',
       '11351', '11354', '11355', '11356', '11357', '11358', '11360',
       '11361', '11362', '11363', '11364', '11365', '11366', '11367',
       '11368', '11369', '11370', '11372', '11373', '11374', '11375',
       '11377', '11378', '11379', '11385', '11411', '11412', '11413',
       '11414', '11415', '11416', '11417', '11418', '11419', '11420',
       '11421', '11422', '11423', '11426', '11427', '11428', '11429',
       '11432', '11433', '11434', '11435', '11436', '11691', '11692',
       '11693', '11694', 'SALE PRICE', 'AGE OF BUILDING_1',
       'AGE OF BUILDING_2', 'AGE OF BUILDING_3', 'AGE OF BUILDING_4',
       'AGE OF BUILDING_5', 'AGE OF BUILDING_6', 'AGE OF BUILDING_7',
       'AGE OF BUILDING_8', 'AGE OF BUILDING_9'], dtype=object)