In [27]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime
df = pd.read_csv('https://raw.githubusercontent.com/Ncalo19/Queens_price_predictor/master/data_pandas/rollingsales_queens.csv')

In [28]:
df.columns.values

array(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER',
       'ZIP CODE', 'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       ' SALE PRICE ', 'SALE DATE'], dtype=object)

In [29]:
df = df.drop(columns=['BOROUGH', 'APARTMENT NUMBER', 'BLOCK', 'LOT', 'BUILDING CLASS AT PRESENT', 'EASE-MENT', 'BOROUGH', 'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'BUILDING CLASS AT PRESENT', 'ADDRESS', 'NEIGHBORHOOD', 'SALE DATE', 'LAND SQUARE FEET', 'TOTAL UNITS'])
df.head(10)

,BUILDING CLASS CATEGORY,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE
0,01 ONE FAMILY DWELLINGS,11370.0,1.0,0.0,1224.0,1945.0,1,A5,775000
1,01 ONE FAMILY DWELLINGS,11370.0,1.0,0.0,1224.0,1945.0,1,A5,0
2,01 ONE FAMILY DWELLINGS,11370.0,1.0,0.0,1224.0,1945.0,1,A5,0
3,01 ONE FAMILY DWELLINGS,11370.0,1.0,0.0,1224.0,1950.0,1,A5,0
4,01 ONE FAMILY DWELLINGS,11370.0,1.0,0.0,1224.0,1950.0,1,A5,670000
5,01 ONE FAMILY DWELLINGS,11370.0,1.0,0.0,1224.0,1950.0,1,A5,985000
6,02 TWO FAMILY DWELLINGS,11370.0,2.0,0.0,2400.0,1945.0,1,B1,0
7,02 TWO FAMILY DWELLINGS,11370.0,2.0,0.0,2400.0,1945.0,1,B1,990000
8,02 TWO FAMILY DWELLINGS,11370.0,2.0,0.0,1224.0,1950.0,1,B3,735000
9,03 THREE FAMILY DWELLINGS,11370.0,3.0,0.0,2835.0,1945.0,1,C0,0

In [30]:
x = df['ZIP CODE']
x = x.unique()
x.shape

(66,)

In [31]:
df = df.rename(columns={' SALE PRICE ': 'SALE PRICE'})

In [32]:
df.dropna

<bound method DataFrame.dropna of          BUILDING CLASS CATEGORY  ZIP CODE  RESIDENTIAL UNITS  \
0        01 ONE FAMILY DWELLINGS   11370.0                1.0
1        01 ONE FAMILY DWELLINGS   11370.0                1.0
2        01 ONE FAMILY DWELLINGS   11370.0                1.0
3        01 ONE FAMILY DWELLINGS   11370.0                1.0
4        01 ONE FAMILY DWELLINGS   11370.0                1.0
...                          ...       ...                ...
25796  43 CONDO OFFICE BUILDINGS   11377.0                0.0
25797           44 CONDO PARKING   11377.0                0.0
25798           44 CONDO PARKING   11377.0                0.0
25799           44 CONDO PARKING   11377.0                0.0
25800           44 CONDO PARKING   11377.0                0.0

       COMMERCIAL UNITS  GROSS SQUARE FEET  YEAR BUILT  \
0                   0.0             1224.0      1945.0
1                   0.0             1224.0      1945.0
2                   0.0             1224.0      1945.0
3                   0.0             1224.0      1950.0
4                   0.0             1224.0      1950.0
...                 ...                ...         ...
25796               1.0                0.0      2007.0
25797               1.0                0.0      2008.0
25798               1.0                0.0      2008.0
25799               1.0                0.0      2007.0
25800               1.0                0.0      2008.0

       TAX CLASS AT TIME OF SALE BUILDING CLASS AT TIME OF SALE  SALE PRICE
0                              1                             A5      775000
1                              1                             A5           0
2                              1                             A5           0
3                              1                             A5           0
4                              1                             A5      670000
...                          ...                            ...         ...
25796                          4                             RB           0
25797                          4                             RP           0
25798                          4                             RG       35000
25799                          4                             RG      665000
25800                          4                             RG       28000

[25801 rows x 9 columns]>

In [33]:
df['SALE PRICE']= pd.to_numeric(df['SALE PRICE'], errors = 'coerce')
df['GROSS SQUARE FEET']= pd.to_numeric(df['GROSS SQUARE FEET'], errors = 'coerce')
df['RESIDENTIAL UNITS']= pd.to_numeric(df['RESIDENTIAL UNITS'], errors = 'coerce')
df['COMMERCIAL UNITS']= pd.to_numeric(df['COMMERCIAL UNITS'], errors = 'coerce')
df['YEAR BUILT']= pd.to_numeric(df['YEAR BUILT'], errors = 'coerce')

In [34]:
df.head(10)

,BUILDING CLASS CATEGORY,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE
0,01 ONE FAMILY DWELLINGS,11370.0,1.0,0.0,1224.0,1945.0,1,A5,775000
1,01 ONE FAMILY DWELLINGS,11370.0,1.0,0.0,1224.0,1945.0,1,A5,0
2,01 ONE FAMILY DWELLINGS,11370.0,1.0,0.0,1224.0,1945.0,1,A5,0
3,01 ONE FAMILY DWELLINGS,11370.0,1.0,0.0,1224.0,1950.0,1,A5,0
4,01 ONE FAMILY DWELLINGS,11370.0,1.0,0.0,1224.0,1950.0,1,A5,670000
5,01 ONE FAMILY DWELLINGS,11370.0,1.0,0.0,1224.0,1950.0,1,A5,985000
6,02 TWO FAMILY DWELLINGS,11370.0,2.0,0.0,2400.0,1945.0,1,B1,0
7,02 TWO FAMILY DWELLINGS,11370.0,2.0,0.0,2400.0,1945.0,1,B1,990000
8,02 TWO FAMILY DWELLINGS,11370.0,2.0,0.0,1224.0,1950.0,1,B3,735000
9,03 THREE FAMILY DWELLINGS,11370.0,3.0,0.0,2835.0,1945.0,1,C0,0

In [35]:
x = df[df['SALE PRICE'] > 8000000].index
df = df.drop(x, inplace = False)
x = df[df['SALE PRICE'] < 25000].index
df = df.drop(x, inplace = False)

In [36]:
df.head(10)

,BUILDING CLASS CATEGORY,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE
0,01 ONE FAMILY DWELLINGS,11370.0,1.0,0.0,1224.0,1945.0,1,A5,775000
4,01 ONE FAMILY DWELLINGS,11370.0,1.0,0.0,1224.0,1950.0,1,A5,670000
5,01 ONE FAMILY DWELLINGS,11370.0,1.0,0.0,1224.0,1950.0,1,A5,985000
7,02 TWO FAMILY DWELLINGS,11370.0,2.0,0.0,2400.0,1945.0,1,B1,990000
8,02 TWO FAMILY DWELLINGS,11370.0,2.0,0.0,1224.0,1950.0,1,B3,735000
12,01 ONE FAMILY DWELLINGS,11691.0,1.0,0.0,563.0,1920.0,1,A6,250000
13,01 ONE FAMILY DWELLINGS,11691.0,1.0,0.0,703.0,1920.0,1,A1,234500
15,01 ONE FAMILY DWELLINGS,11691.0,1.0,0.0,1044.0,1920.0,1,A6,161750
16,01 ONE FAMILY DWELLINGS,11691.0,1.0,0.0,1224.0,1920.0,1,A6,208750
17,01 ONE FAMILY DWELLINGS,11691.0,1.0,0.0,926.0,1920.0,1,A9,296270

In [37]:
df = df.drop_duplicates(df.columns)

In [38]:
df = df.drop(columns=['BUILDING CLASS AT TIME OF SALE', 'TAX CLASS AT TIME OF SALE'])

In [39]:
df = df[df["GROSS SQUARE FEET"] < df["GROSS SQUARE FEET"].quantile(0.95)]
df = df[df["RESIDENTIAL UNITS"] < df["RESIDENTIAL UNITS"].quantile(0.95)]
df = df[df["COMMERCIAL UNITS"] < df["COMMERCIAL UNITS"].quantile(0.95)]

In [40]:
df = pd.get_dummies(df, columns=['BUILDING CLASS CATEGORY', 'ZIP CODE'])

In [41]:
df['YEAR BUILT'] = (datetime.datetime.now().year - df['YEAR BUILT'])
df = df.rename(columns = {'YEAR BUILT' : 'AGE OF BUILDING'})

In [42]:
df_SALEPRICE = df.pop('SALE PRICE') #move sale price to the last column
df['SALE PRICE']=df_SALEPRICE

In [43]:
df.head(10)

,RESIDENTIAL UNITS,COMMERCIAL UNITS,GROSS SQUARE FEET,AGE OF BUILDING,BUILDING CLASS CATEGORY_01 ONE FAMILY DWELLINGS,BUILDING CLASS CATEGORY_02 TWO FAMILY DWELLINGS,BUILDING CLASS CATEGORY_04 TAX CLASS 1 CONDOS,BUILDING CLASS CATEGORY_05 TAX CLASS 1 VACANT LAND,BUILDING CLASS CATEGORY_06 TAX CLASS 1 - OTHER,BUILDING CLASS CATEGORY_12 CONDOS - WALKUP APARTMENTS,...,ZIP CODE_11432.0,ZIP CODE_11433.0,ZIP CODE_11434.0,ZIP CODE_11435.0,ZIP CODE_11436.0,ZIP CODE_11691.0,ZIP CODE_11692.0,ZIP CODE_11693.0,ZIP CODE_11694.0,SALE PRICE
0,1.0,0.0,1224.0,75.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,775000
4,1.0,0.0,1224.0,70.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,670000
5,1.0,0.0,1224.0,70.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,985000
7,2.0,0.0,2400.0,75.0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,990000
8,2.0,0.0,1224.0,70.0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,735000
12,1.0,0.0,563.0,100.0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,250000
13,1.0,0.0,703.0,100.0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,234500
15,1.0,0.0,1044.0,100.0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,161750
16,1.0,0.0,1224.0,100.0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,208750
17,1.0,0.0,926.0,100.0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,296270

In [44]:
bins = [0,3,10,20,30,50,75,100,150,1000]
labels = [1,2,3,4,5,6,7,8,9]
df['AGE OF BUILDING'] = pd.cut(df['AGE OF BUILDING'], bins=bins, labels=labels, right=True)

In [45]:
df.head(10)

,RESIDENTIAL UNITS,COMMERCIAL UNITS,GROSS SQUARE FEET,AGE OF BUILDING,BUILDING CLASS CATEGORY_01 ONE FAMILY DWELLINGS,BUILDING CLASS CATEGORY_02 TWO FAMILY DWELLINGS,BUILDING CLASS CATEGORY_04 TAX CLASS 1 CONDOS,BUILDING CLASS CATEGORY_05 TAX CLASS 1 VACANT LAND,BUILDING CLASS CATEGORY_06 TAX CLASS 1 - OTHER,BUILDING CLASS CATEGORY_12 CONDOS - WALKUP APARTMENTS,...,ZIP CODE_11432.0,ZIP CODE_11433.0,ZIP CODE_11434.0,ZIP CODE_11435.0,ZIP CODE_11436.0,ZIP CODE_11691.0,ZIP CODE_11692.0,ZIP CODE_11693.0,ZIP CODE_11694.0,SALE PRICE
0,1.0,0.0,1224.0,6,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,775000
4,1.0,0.0,1224.0,6,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,670000
5,1.0,0.0,1224.0,6,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,985000
7,2.0,0.0,2400.0,6,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,990000
8,2.0,0.0,1224.0,6,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,735000
12,1.0,0.0,563.0,7,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,250000
13,1.0,0.0,703.0,7,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,234500
15,1.0,0.0,1044.0,7,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,161750
16,1.0,0.0,1224.0,7,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,208750
17,1.0,0.0,926.0,7,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,296270